
.heroText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
}

@media (max-width: 900px) {

    .heroText{
        justify-content:baseline;
        margin-top: 25px;
        text-align: center;
        align-items: center;
    }
}